<!DOCTYPE html>
<html lang="en" ng-app="firstapp">

<head ng-controller="headerctrl">
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="shortcut icon" href="frontend/img/favicon.png" />

    <title ng-bind="'Dharma Production | '+template.title">
        <%= ((typeof title) == "undefined") ? "Dharma Production" : title  %>
    </title>

    <!-- SEO -->
    <meta name="author" content="Dharma Production">
    <meta name="description" content="<%= ((typeof description) == "undefined") ? "Dharma Production " : description  %>">
    <meta name="keywords" content="<%= ((typeof keywords) == "undefined") ? "Dharma Production " : keywords  %>">

    <!-- Facebook -->
    <meta property="og:site_name" content="Dharma Production">
    <meta property="og:title" content="<%= ((typeof title) == "undefined") ? "Dharma Production " : title  %>" />
    <meta property="og:description" content="<%= ((typeof description) == "undefined") ? "Dharma Production " : description  %>" />
    <meta property="og:image" content="<%= ((typeof image) == "undefined") ? "Dharma Production " : image  %>">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= ((typeof url) == "undefined") ? "Dharma Production" : url  %>" />


    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@DharmaMovies">
    <meta name="twitter:title" content="<%= ((typeof title) == "undefined") ? "Dharma Production " : title  %>">
    <meta name="twitter:description" content="<%= ((typeof description) == "undefined") ? "Official Dharma Production Website" : description  %>">
    <meta name="twitter:image" content="<%= ((typeof image) == "undefined") ? "Dharma Production " : image  %>">

    <link rel="canonical" href="<%= ((typeof url) == "undefined") ? "Dharma Production " : url  %>">



    <!--[if IE]> <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script> <![endif]-->
    <!--[if IE]> <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script> <![endif]-->
</head>

<body>
    <div class="repeated-item" ui-view></div>


    <link rel="stylesheet" type="text/css" href="frontend/css/main.css" />

    <script>
        var adminurl = "<%= ((typeof adminurl) == "undefined") ? "" : adminurl  %>";
        var isproduction = true;
    </script>
    <% _.each(jsFiles,function(file) {  %>
        <script src="frontend/js/<%= file %>"></script>
        <% }); %>
</body>

</html>
